html,body,div,span,iframe,
h1,h2,h3,h4,h5,p,a,img,ul,li,
table,tr,th,td,tbody,footer,
header,main,nav,section {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: normal;
	list-style: none;
	text-decoration: none;
}

body{
  position: relative;
  overflow: hidden;
  font-family: 'Fascinate Inline';
}

.battleFiledInner {
  width:1100px;
  margin:auto;
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
}

canvas.main{
  display: block;
  margin: 50px auto 0;
  border: 1px solid black;
  background-color: #FFF;
}

.contentBox{
	width:300px;
}

.timmer{
  width:125px;
  padding:10px;
  margin: auto;
  background-color: #FFF;
  border: solid 3px cornflowerblue;
  border-radius: 5px;
  text-align: center;
  font-size: 30px;
  vertical-align: middle;
}

.nextShapeInner{
  display:flex;
  justify-content: space-between;
}
#nextShape{
  display: block;
  width:100px;
  height:150px; 
  background-color: #FFF;
  border: solid 3px cornflowerblue;
  border-radius: 5px;
  padding: 15px;
  margin: 20px 0;
  box-sizing: border-box;
}

.itemInner{
  display: flex;
  justify-content: space-between;
}

.enemyItems, .myItems{
  width: 100px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.enemyHeartBox,.myHeartBox{
	width:40px;
	height:160px;
	border-radius: 5px;
	border: solid 3px rgb(250, 44, 89);
	background-color: #FFF;
	box-sizing: border-box;
}

.enemyHeart,.myHeart{
  text-align: center;
  height: 30px;
  padding-top: 5px;
}

.myHeart li:last-child,.enemyHeart li:last-child{
  padding-bottom: 5px;
}

.myHeart li,.enemyHear li{
  padding-left: 5px;
}

.enemyBallBox,.myBallBox{
	width:40px;
	height:160px;
	border-radius: 5px;
	border: solid 3px rgba(9, 155, 16, 0.836);
	background-color: #FFF;
	box-sizing: border-box;
}

.myBall li:last-child,.enemyBall li:last-child{
  padding-bottom: 5px;
}

.enemyBall li, .myBall li{
  padding: 5px 5px;
  padding-bottom: 0px;
}

.winMarkBox{
  display: flex;
  justify-content: space-between;
}

.enemyWinMarkBox, .myWinMarkBox{
  width: 100px;
  height: 60px;
  background-color: #FFF;
  border:solid 3px cornflowerblue;
  border-radius: 5px;
  margin-top: 20px;
}

.enemyWin, .myWin{
  display: inline;
  padding: 5px 5px;
}

.startSwiches{
  display: flex;
  justify-content: space-between;
  font-family: 'Fascinate Inline', cursive;
  padding-top: 40px;
}

.getStartTwo{
  background-color: #FFF;
  color:#5160D8;
  font-size:25px;
  width:100px;
  box-sizing: border-box;
  text-align: center;
  padding:10px;
  border:solid 3px cornflowerblue;
  border-radius: 5px;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.73);
  transition: .5s;
  font-family: 'Fascinate Inline';
}

.getStartTwo:hover{
  background-color: cornflowerblue;
  color:rgb(238, 80, 106);
  text-shadow: -6px 0px 15px rgba(255, 255, 255, 0.83), 6px 0px 15px rgba(255, 255, 255, 0.83);
}

.getStartOne{
  background-color: #FFF;
  color:#5160D8;
  font-size:25px;
  width:100px;
  box-sizing: border-box;
  text-align: center;
  padding:10px;
  border:solid 3px cornflowerblue;
  border-radius: 5px;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.73);
  transition: .5s;
  font-family: 'Fascinate Inline';
}

.getStartOne:hover{
  background-color: cornflowerblue;
  color:rgb(236, 152, 26);
  text-shadow: -6px 0px 15px rgba(255, 255, 255, 0.83), 6px 0px 15px rgba(255, 255, 255, 0.83);
}

.test{
  padding-top: 20px;
}

.getStartTest{
  background-color: #FFF;
  color:#5160D8;
  font-size:25px;
  width:100px;
  box-sizing: border-box;
  text-align: center;
  padding:10px;
  border:solid 3px cornflowerblue;
  border-radius: 5px;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.73);
  transition: .5s;
  font-weight: bold;
  margin: auto;
  display: inherit;
}

.getStartTest:hover{
  background-color: cornflowerblue;
  font-weight: bold;
  color:rgba(56, 54, 54, 0.603);
  text-shadow: -6px 0px 15px rgba(255, 255, 255, 0.83), 6px 0px 15px rgba(255, 255, 255, 0.83);
}

.bg-image-loop{
  background-image: url("../images/background.png");
  background-size:auto 65%;
  animation: bg-slider 50000s linear infinite;
}

@keyframes bg-slider {
	from { background-position: 0 0; }
    to { background-position: -1366000px -870000px; }
}
/*エフェクト画像*/
.win{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display:none;
}

.lose{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display:none;
}

.wait{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  margin-right:-630px;
  display:none;
}

.pose{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display:none;
}